# **6. SparkSQL**

In [ ]:
#Criando a tabela temporaria que será utilizada pelo SQL
dfs.createOrReplaceTempView('pessoas')

In [ ]:
#QUANTIDADE DE ACIDENTES AGRUPADO POR ESTADO FISICO, SEXO
spark.sql("SELECT estado_fisico AS Nivel_Lesao, sexo, count(DISTINCT id) AS Numero_Acidentes FROM pessoas  GROUP BY estado_fisico, sexo ORDER BY estado_fisico ASC").show()

+-------------+-------------+----------------+
|  Nivel_Lesao|         sexo|Numero_Acidentes|
+-------------+-------------+----------------+
|        Ileso|Não Informado|              78|
|        Ileso|    Masculino|          206352|
|        Ileso|     Feminino|           44678|
|Lesões Graves|    Masculino|           57246|
|Lesões Graves|Não Informado|              12|
|Lesões Graves|     Feminino|           17851|
| Lesões Leves|    Masculino|          163608|
| Lesões Leves|Não Informado|              81|
| Lesões Leves|     Feminino|           70220|
|        Óbito|    Masculino|           19319|
|        Óbito|     Feminino|            4126|
|        Óbito|Não Informado|               7|
+-------------+-------------+----------------+

In [ ]:
#QUANTIDADE DE ACIDENTES AGRUPADO POR SEXO
spark.sql("SELECT estado_fisico AS Nivel_Lesao, sexo, count(DISTINCT id) AS Numero_Acidentes FROM pessoas GROUP BY estado_fisico, sexo ORDER BY estado_fisico ASC").show()

+-------------+-------------+----------------+
|  Nivel_Lesao|         sexo|Numero_Acidentes|
+-------------+-------------+----------------+
|        Ileso|Não Informado|              78|
|        Ileso|    Masculino|          206352|
|        Ileso|     Feminino|           44678|
|Lesões Graves|    Masculino|           57246|
|Lesões Graves|Não Informado|              12|
|Lesões Graves|     Feminino|           17851|
| Lesões Leves|    Masculino|          163608|
| Lesões Leves|Não Informado|              81|
| Lesões Leves|     Feminino|           70220|
|        Óbito|    Masculino|           19319|
|        Óbito|     Feminino|            4126|
|        Óbito|Não Informado|               7|
+-------------+-------------+----------------+

In [ ]:
#QUANTIDADE DE ACIDENTES AGRUPADO POR TIPO DE AUTOMOVEL E ESTADO FISICO
spark.sql("SELECT estado_fisico AS Nivel_Lesao, sexo, count(DISTINCT id) AS Numero_Acidentes FROM pessoas  GROUP BY estado_fisico, sexo ORDER BY estado_fisico ASC").show()

+-------------+-------------+----------------+
|  Nivel_Lesao|         sexo|Numero_Acidentes|
+-------------+-------------+----------------+
|        Ileso|Não Informado|              78|
|        Ileso|    Masculino|          206352|
|        Ileso|     Feminino|           44678|
|Lesões Graves|    Masculino|           57246|
|Lesões Graves|Não Informado|              12|
|Lesões Graves|     Feminino|           17851|
| Lesões Leves|    Masculino|          163608|
| Lesões Leves|Não Informado|              81|
| Lesões Leves|     Feminino|           70220|
|        Óbito|    Masculino|           19319|
|        Óbito|     Feminino|            4126|
|        Óbito|Não Informado|               7|
+-------------+-------------+----------------+

In [ ]:
#NUMERO DE ACIDENTES POR ESTADO AGRUPADO PELA FASE DO DIA
spark.sql("SELECT fase_dia, uf AS Estado, count(DISTINCT id) AS Numero_Acidentes FROM pessoas GROUP BY fase_dia, uf ORDER BY count(DISTINCT id) DESC").show()

+-----------+------+----------------+
|   fase_dia|Estado|Numero_Acidentes|
+-----------+------+----------------+
|  Pleno dia|    MG|           26340|
|  Pleno dia|    SC|           23954|
|  Pleno dia|    PR|           21325|
|Plena Noite|    MG|           14798|
|Plena Noite|    SC|           14034|
|Plena Noite|    PR|           13987|
|  Pleno dia|    RS|           13259|
|  Pleno dia|    RJ|           12417|
|  Pleno dia|    SP|           11936|
|  Pleno dia|    BA|            9593|
|  Pleno dia|    GO|            9437|
|Plena Noite|    RJ|            8157|
|Plena Noite|    SP|            8135|
|Plena Noite|    RS|            7919|
|  Pleno dia|    PE|            7439|
|  Pleno dia|    ES|            7270|
|  Pleno dia|    MT|            6895|
|Plena Noite|    BA|            6293|
|Plena Noite|    GO|            5645|
|Plena Noite|    PE|            4752|
+-----------+------+----------------+
only showing top 20 rows

In [ ]:
#NUMERO DE ACIDENTES POR TIPO DO ENVOLVIDO E NIVEL DE LESÃO
spark.sql("SELECT tipo_envolvido as Envolvido, estado_fisico as Nivel_Lesao, sexo, count(DISTINCT id) AS Numero_Acidentes FROM pessoas  GROUP BY tipo_envolvido, estado_fisico, sexo ORDER BY count(DISTINCT id ) DESC").show()

+----------+-------------+---------+----------------+
| Envolvido|  Nivel_Lesao|     sexo|Numero_Acidentes|
+----------+-------------+---------+----------------+
|  Condutor|        Ileso|Masculino|          200446|
|  Condutor| Lesões Leves|Masculino|          144220|
|Passageiro| Lesões Leves| Feminino|           48230|
|  Condutor|Lesões Graves|Masculino|           47979|
|Passageiro| Lesões Leves|Masculino|           32064|
|  Condutor|        Ileso| Feminino|           27246|
|  Condutor| Lesões Leves| Feminino|           24624|
|Passageiro|        Ileso|Masculino|           22734|
|Passageiro|        Ileso| Feminino|           19981|
|  Condutor|        Óbito|Masculino|           14921|
|Passageiro|Lesões Graves| Feminino|           11952|
|Passageiro|Lesões Graves|Masculino|            9248|
|  Condutor|Lesões Graves| Feminino|            5192|
|  Pedestre|Lesões Graves|Masculino|            3938|
|  Pedestre| Lesões Leves|Masculino|            3641|
|  Pedestre|        Óbito|Masculino|            2896|
|Passageiro|        Óbito| Feminino|            2747|
|Passageiro|        Óbito|Masculino|            2519|
|  Pedestre| Lesões Leves| Feminino|            1675|
|  Pedestre|Lesões Graves| Feminino|            1327|
+----------+-------------+---------+----------------+
only showing top 20 rows

In [ ]:
#NUMERO DE MORTES POR GENERO E POR DIA DA SEMANA
spark.sql("SELECT estado_fisico AS Nivel_Lesao, sexo, dia_semana, count(DISTINCT id) AS Numero_Acidentes FROM pessoas WHERE estado_fisico = 'Óbito' GROUP BY estado_fisico, sexo, dia_semana ORDER BY Numero_Acidentes desc").show()

+-----------+-------------+-------------+----------------+
|Nivel_Lesao|         sexo|   dia_semana|Numero_Acidentes|
+-----------+-------------+-------------+----------------+
|      Óbito|    Masculino|      domingo|            4012|
|      Óbito|    Masculino|       sábado|            3683|
|      Óbito|    Masculino|  sexta-feira|            2761|
|      Óbito|    Masculino|segunda-feira|            2397|
|      Óbito|    Masculino| quinta-feira|            2319|
|      Óbito|    Masculino| quarta-feira|            2094|
|      Óbito|    Masculino|  terça-feira|            2053|
|      Óbito|     Feminino|      domingo|             924|
|      Óbito|     Feminino|       sábado|             721|
|      Óbito|     Feminino|  sexta-feira|             612|
|      Óbito|     Feminino|segunda-feira|             530|
|      Óbito|     Feminino| quinta-feira|             459|
|      Óbito|     Feminino| quarta-feira|             443|
|      Óbito|     Feminino|  terça-feira|             437|
|      Óbito|Não Informado|  sexta-feira|               2|
|      Óbito|Não Informado|segunda-feira|               2|
|      Óbito|Não Informado|      domingo|               1|
|      Óbito|Não Informado| quarta-feira|               1|
|      Óbito|Não Informado|       sábado|               1|
+-----------+-------------+-------------+----------------+